html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  min-height: 100vh;
}

#main{
  padding: 20px;
  margin: 50px auto;
  background-color: rgb(19, 23, 19);
  color: white;
  width: 80%;
  border-radius: 10px;
}

#a{
  padding: 20px;
  margin: 20px;
}

#btn1{
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  color: red;
  background-color: #e51010;
  border: 1px solid red;
  cursor: pointer;
}
